<div class="fluid-container bg-primary">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/vFEXSKjF5co?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
		</div>
	</div>

</div>

<div class="container">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h2>Welcome to ForesTree Equipment Trader, the premier platform for buying, selling and trading previously owned forestry equipment and much more. Thank you for your interest in FET!</h2>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 three-columns">
				<p>ForesTree Equipment Trader is the outgrowth of Southern Loggin’ Times, a tabloid magazine founded in 1972 that soared to treetop popularity over the following decades. One reason for its towering popularity is its extensive listing of quality pre-owned forestry equipment found in each monthly issue. FET builds on this industry leading position, creating the industry’s most extensive used equipment and parts selection. 60% of the nation's annual timber harvest occurs in the U.S. South, where the majority of new forestry equipment is sold each year, and where the population of forestry equipment—particularly feller-bunchers, skidders, loaders and attachments—is the most concentrated. ForesTree Equipment Trader is a marketplace that connects you with buyers and sellers across the nation offering machinery, equipment, parts, and much more for most all makes, models and years of forestry equipment.</p>
				
			</div>
		</div>

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="class-lg-4 col-md-4 col-sm-4 col-xs-4">
				<%= link_to image_tag("slt0717cvr.jpg", alt: "Southern Loggin' Times", width: '200px') %>
			</div>
			<div class="class-lg-8 col-md-8 col-sm-8 col-xs-8">
				<h4>About Southern Loggin' Times Magazine</h4>
				<p>Long before it published its 500th issue in 2014, Southern Loggin’ Times had earned a special place in the hearts and minds of loggers and their families and employees, as well as equipment manufacturers and their dealers and sales personnel. Subscribers, particularly loggers and their families, anxiously await every issue of SLT.</p>
				<p>SLT is delivered 12 times per year to logging families across the Southern U.S., and is known for its detailed, insightful articles on logging developments throughout the South and the nation.</p>
				<p>Southern Loggin’ Times has always been and continues to be “The Southern Logger’s Best Friend.”</p>
				<a href="https://www.facebook.com/SouthernLogginTimes"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
				<a href="http://twitter.com/southernloggin"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
				<a href="https://www.youtube.com/user/SLTMagazine225"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="class-lg-8 col-md-8 col-sm-8 col-xs-8">
				<h4>About Timber Harvesting Magazine</h4>
				<p>Since its inception in 1953, Timber Harvesting & Wood Fiber Operations magazine has focused on progressive logging operations throughout the U.S. and the world, with an emphasis on new technology applications and innovative business management. TH editors are constantly in the forests visiting logging operations and interviewing independent contractors, while staying abreast of the latest timber industry news.</p>
				<p>TH is delivered six times per year to subscribers both inside and outside of North America, as it continues to expand its readership into international forestry markets.</p>
				<p>Timber Harvesting & Wood Fiber Operations continues its dedication to being the “Foremost Authority For Professional Loggers.”</p>
				<a href="https://www.facebook.com/timberharvesting"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
				<a href="http://twitter.com/timberharvmag"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
				<a href="https://www.youtube.com/user/THMagazine225"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a>
			</div>
			<div class="class-lg-4 col-md-4 col-sm-4 col-xs-4">
				<%= link_to image_tag("th0817cov.jpg", alt: "Timber Harvesting", width: '200px') %>
			</div>

		</div>
	</div>
</div>
